h1 {
  font-weight: bold;

  padding: 0;
  margin: 0;
}

h3 {


  text-align: center;
  padding: 10px 0;
  margin: 0;
}


input,
select,
textarea {
  padding: 13px 10px;
  margin: 10px 0px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

select {
  width: 175px;
  margin-left: 3px;
}

input:hover {
  background-color: #fff;
}

button {
  width: 420px;
  padding: 10px;
  background-color: #181818;
  color: white;
  border: none;
  outline: none;

  cursor: pointer;
}

button:hover {
  font-weight: bold;
  background-color: #5a5a5a;
  border: 2px solid #181818;
  color: #181818;
}

.small {
  width: 180px;
  margin-right: 5px;
}

.long {
  width: 390px;
  margin-left: 0px;
}


.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  text-align: left;
  padding: 0;
  float: left;
}


/*Sign Up*/
.signup {
  /* background-image: url("./Assets/Images/BG2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; */
  /* position: fixed; */
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0;
  margin: 0;
}

.nav {
  padding: 0px 30px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.home .nav {
  left: 0;
}

.home .nav h1 {
  text-align: left;
}

.nav img {
  width: 150px;
}

.signup-form {
  position: absolute;
  color: black;
  width: 450px;
  /* height: 500px;
  text-align: center;
  /* height: auto; */
  /* padding: 10px; */

  /* margin-top: 130px; */


}

.align-To-center {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50vh;
}

/* .bgBlock {
  width: 100%;
  padding: 40px;
  background-color: #1d1d1d;
  opacity: 0.8;

  text-align: center;
  height: 87vh;
} */

.signup h3 {
  font-size: 16px;
  color: #181818;
}

.gray {
  color: #5a5a5a !important;
}

.signup h1 {
  font-size: 26px;
}

.signup a {
  cursor: pointer;
  color: #5a5a5a;
}




.signup .column:first-child {
  width: 60%;
  color: black;
  float: right;
}

.signup .column:not(:first-child) {
  width: 40%;
  position: fixed;
  right: 0;
}

#bg {
  background-image: url("./Assets/Images/BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/*Sign Up*/

/*Sign in*/
.myPassword {
  position: relative;

}


.myPassword img {
  cursor: pointer;
  position: absolute;
  width: 25px;
  right: 45px;
  top: 20px;
}

/*End of sign in*/


/*Add list*/
.addList {
  display: block;
}

/*end of add list*/



/*Nav*/
nav {
  padding: 0;
  margin: 5px 0;
  /* z-index: 1; */
  top: 0;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;

  position: absolute;
  z-index: 1;
}

.nav-wrap {
  padding: 20px 20px;

}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  padding-bottom: 30px;
}

.topnav a {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 0 40px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.topnav a:hover {
  color: #7e7e7e;
}

.topnav .column1,
.topnav .column3 {
  float: left;
  width: 20%;
  padding: 0 10px;
  padding-bottom: 20px;
}

.topnav .column2 {
  float: left;
  width: 55%;
  padding: 10px;
  padding-bottom: 20px;
}

.topnav .column3 {
  float: right;
}


#logo {
  left: 0;
  font-size: 32px;
  color: white;
  padding-right: 30px;

}

.topnav-right {
  text-align: right;
}

.topnav-left {
  text-align: left;
}

.topnav-center {
  text-align: center;
}

.topnav button {
  /* margin-right: 30px; */
  height: 50px;
  width: 130px;
}

.topnav button:hover {
  /* opacity: 0.7; */
  background-color: #ff7171;
  color: #181818;
}

/*Media*/
@media screen and (max-width: 700px) {

  nav {
    padding: 0;
    margin: 0;
  }

  .topnav .column2 {
    border-top: 1px solid white;
    padding-top: 20px;
  }

  .topnav .column2 a {
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
  }

  .topnav .column,
  .topnav .column2 {
    width: 95%;
  }

  .topnav .column1,
  .topnav .column3 {

    width: 40%;
  }

  .topnav-right {
    text-align: right;
  }

  .nav-wrap {
    padding: 20px 0px;
  }

  .topnav {
    padding: 0 30px;
    height: auto;
  }

  .topnav button {
    width: 90px;
    height: 35px;
    font-size: 12px;
    margin-right: 0;
  }

  .topnav-right {
    margin-top: 10px;
  }

  #logo {
    padding-right: 0;
    margin: 0;
  }

  .topnav a {
    padding: 0px;

  }
}

/*end of nav*/


/*Header*/
header {
  background-image: url("./Assets/Images/BG.png");
  background-size: cover;
  height: 50vh;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}

.bgBlock {
  width: 100%;
  background-color: #1b1b1b;
  opacity: 0.8;

  text-align: center;
  height: 50vh;
}

.profile {
  background-color: #fff;
  height: auto;
  width: 300px;

  position: absolute;
  z-index: 1;
  top: 230px;
  left: 40px;

  padding: 30px;
  box-shadow: 5px 10px 20px #161515;
  border-radius: 1em;
}

.profile img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.profile h3 {
  text-align: left;
}

.prior img {
  border-radius: 0;
  height: 35px;
  width: 35px;
}


.profile .column {
  width: 100%;
  padding: 0 0 30px 0;
}

.profile button {
  margin-top: 20px;
  width: 300px;
}

.spacing {
  padding-left: 20px;
}

/*End of header*/


/* Add */
.wrap {
  padding: 50px;
}

.form {
  background-color: #1b1b1b;

}


.box {
  background-color: #f8f8f8;
  /* top: 20px; */
  width: auto;
  position: fixed;
  z-index: 99;
  padding: 50px;
}

.box img {
  cursor: pointer;
  width: 20px;
  float: right;

}

.box img:hover {
  filter: drop-shadow(5px 5px 5px #ff0101);
}

#popup, #popup2 {
  display: none;
  height: 90%;

  /* display: flex;
  justify-content: center;
  align-items: center; */

}

.mypopup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(19, 19, 19, 0.788);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.mypopup a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mypopup a:hover {
  color: #f1f1f1;
}

.mypopup .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#popup .long {
  margin-left: 2px;
  padding: 20px 10px;
}


/* End of add */

/*Home*/
.home .wrap {
  margin-left: 28%;
  padding: 50px 30px;
}

.displayTasks {
  margin-top: 50px;
}

.displayTasks h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  position: relative;
}

.displayTasks span {
  font-size: 16px;
  padding: 0 10px;
  margin-top: 10px !important;
  position: absolute;
}

.displayTasks span:first-child {
  font-size: 16px;
  padding: 30px 10px;
  margin-top: 20px !important;
  position: relative;
}

.displayTasks #myCards {
  display: block;
  margin: 80px 0px;
}

.displayTasks #myCards2 {
  display: none;
  margin: 80px 0px;
}

.displayTasks .column {
  width: 31%;
  padding: 0 15px 30px 0;
}

.displayTasks td {
  padding: 5px 0px;
}

.displayTasks .card {
  position: relative;
  height: 220px;
  width: 92%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 5px 10px 20px #161515;
}
.overdue{
  color: #ff0101;
}

#step1 .column:first-child {
  padding-top: 20px;
  width: 60% !important;
}

#step1 .column:not(:first-child) {
  width: 40% !important;
}


#step2 .column {
  width: 100%;
  padding: 0px;
}

#step1,
#step2 {
  width: 100%;
}

#align-right {
  display: flex;
  justify-content: flex-end;
}

.card .row {
  margin: 0;
}

.card .column {
  padding: 0;
}

.card button {
  width: auto;
  padding: 5px;
  background-color: transparent;

  border: none;
  outline: none;

  cursor: pointer;
}

.card button:hover {
  text-align: right;
  background-color: #f8f8f8;
  border: 2px solid #181818;
}

.square1,
.square2,
.square3 {
  position: absolute;
  bottom: -10px;
  right: 5px;
  width: 40px;
  height: 40px;
}

/* 
.square1{
  background-image: url("./Assets/Icons/High.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.square2{
  background-image: url("./Assets/Icons/Medium.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.square3{
  background-image: url("./Assets/Icons/Low.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  position: relative;
} */




.card h4 {
  font-size: 15px;
}

.card span {
  color: #c18e5c;
  border: none;

  font-size: 15px;
  padding: 0;
  margin-top: 0px !important;
  margin-left: 0px !important;
  position: relative;
}

.displayTasks h3 {
  text-align: left;
}

#filter .column:first-child {
  width: 100%;
  padding: 10px;

}

#filter .column {
  width: 18.2%;
  padding: 10px;

}

#filter input {
  width: 200px;
}


#filter button {
  width: 150px;
  height: 43px;
  padding: 10px;
  margin-left: 8px;
  cursor: pointer;
}

#searched {
  display: none;
}

#all {
  display: block;
}

/*End of home*/

/*Update*/
.return {
  margin: 30px;
}

.return img {
  cursor: pointer;
  width: 40px;
}

.return img:hover {
  filter: drop-shadow(5px 5px 5px #000000);
}

.task {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task h1 {
  font-size: 35px;
}

.task form {
  margin-top: 50px;
}

.task .long {

  margin-left: 0px;
}

.update .column:first-child {
  width: 60%;
}

.update .column:not(:first-child) {
  width: 40%;
}

.update #bG {
  background-image: url("./Assets/Images/BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;


  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.update .bgBlock {
  width: 100%;
  background-color: #1b1b1b;
  opacity: 0.7;

  text-align: center;
  height: 100vh;
}

.bgText {
  position: absolute;
  color: white;
  width: 100%;
  padding: 50px;
}

.bgText button {
  width: 150px;
}

/* End of update */





/* media */

@media screen and (max-width: 700px) {

  button {
    width: 100%;
    padding: 10px;
    background-color: #181818;
    color: white;
    border: none;
    outline: none;

    cursor: pointer;
  }

  .topnav h1 {
    padding-top: 15px;
    font-size: 26px !important;
  }


  .small {
    margin:10px 0px;
  }
  input{
    width: 94% !important;
    margin: 10px;
  }

  .long {
    margin-left: 0px;
  }
  

  /*Sign up*/
  .nav {
    padding: 20px 30px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .signup {
    padding: 10px;
  }

  .signup h1 {
    font-size: 23px;
  }


  .signup .column:first-child {
    width: 100%;
    color: black;
  }

  .signup .column:not(:first-child) {
    width: 100%;
    bottom: 0;
  }

  #bg {

    height: 10vh;
    position: fixed;
    bottom: 0 !important;
    left: 0;
    top: 90%;
  }


  .signup-form {
    position: relative;
    width: 100%;

  }
  .align-To-center {
   margin-top: 15vh; 
   padding: 30px;
   justify-content: flex-start;
  }


  /*Sign up*/

  /*Header*/

  .profile {
    height: 250px;
    width: 85%;
    top: 130px;
    left: 10px;
    padding: 20px;
  }

  .profile img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile h1,
  .profile h2,
  .profile h3 {
    padding: 0;
    margin: 0;
  }

  .profile h1 {
    font-size: 26px;
    margin-left: -60px;
    padding-top: 30px;
  }

  .profile h2 {
    font-size: 20px;
  }

  .prior img {
    border-radius: 0;
    height: 30px;
    width: 30px;
  }

  .profile #columnLong {
    width: 95%;
  }

  .profile .column {
    width: 45%;
    padding: 0 0 10px 0;
  }

  .spacing {
    padding-left: 20px;
  }

  /*End of heade*/

  /*Home*/
  .home .wrap {
    margin-left: 0;
    padding: 50px 30px;
  }

  .home button {
    width: 100%;
  }


  .displayTasks {
    margin-top: 50px;
  }

  .displayTasks h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    position: relative;
  }

  .displayTasks .column {
    width: 100%;
    margin-bottom: 10px;
  }

  
#filter input {
  width: 200px !important;
  margin: 0;
}

.box {
  background-color: #f8f8f8;
  /* top: 20px; */
  width: auto;
  position: fixed;
  z-index: 99;
  margin: 0px;
}
.box textarea{
  width: 94%;
}
.mypopup{
  align-items: flex-end;
}
  /*end of home*/

  /*Update*/
  .update .column:first-child {
    width: 100%;
  }

  .update .column:not(:first-child) {
    width: 100%
  }


  .update #bG {
    background-image: url("./Assets/Images/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    position: absolute;
    top: 100%;
    right: 0;


    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }


  .update .bgBlock {
    width: 100%;
    background-color: #1b1b1b;
    opacity: 0.7;

    text-align: center;
    height: 100%;
  }

  .bgText {
    position: absolute;
    color: white;
    width: 90%;
    padding: 20px;
  }


  .task {
    padding: 30px;
  }

  .myForm {
    margin: 30px;
  }

  #filter button {
    width: 100px !important;
  }


  #filter .column {
    width: 40%;
    margin-bottom: 20px;
  }

}

/* end of media */